<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>com.pierluigi.Index</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/index</url-pattern>
        
        <url-pattern>/materia</url-pattern>
        <url-pattern>/materia/find</url-pattern>
        <url-pattern>/materia/delete</url-pattern>
        <url-pattern>/materia/findAll</url-pattern>
        
        <url-pattern>/contenido</url-pattern>
        <url-pattern>/contenido/find</url-pattern>
        <url-pattern>/contenido/delete</url-pattern>
        <url-pattern>/contenido/findAll</url-pattern>
        
        <url-pattern>/profesor</url-pattern>
        <url-pattern>/profesor/find</url-pattern>
        <url-pattern>/profesor/delete</url-pattern>
        <url-pattern>/profesor/findAll</url-pattern>
    
    </servlet-mapping>
    <session-config>
        <session-timeout>
            50
        </session-timeout>
    </session-config>
</web-app>
